body{
    margin: 0;
    font-family: "Roboto"
}
.grid-layout{
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 5% 90% 5%;
    height: 100vh;
    grid-template-areas:
    "menu menu menu"
    "sidebar principal principal"
    "footer footer footer"
    ;
}
.menu{
    margin: 0;
    padding: 10px;
    background-color: #25527B;
    color: white;
    grid-area: menu;
    text-align: center;
}
.sidebar{
    display: flex;
    padding-left: 20px;
    background-color: lightgrey;
    grid-area: sidebar;
    flex-direction: column;
}
.principal{
    background-color: lightgrey;
    grid-area: principal;
    overflow: hidden;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    overflow: auto;
}
.productos{
    display: flex;
    margin: 10px;
    background-color: white;
    flex-direction: column;
    text-align: center;
}
.productos img{
    width: 100%;
    height: 100%;
}
.productos button{
    border: none;
    background-color: #25527B;
    color: white;
}
.footer{
    padding: 10px;
    grid-area: footer;
    text-align: center;
}